html,
body {
    height: 100%;
}

.dn {
    display: none;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container {
    width: 1000px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.center {
    text-align: center;
}

.snail-friend-links a {
    margin-right: 5px;
}

.board-category {
    padding: 0 15px;
}

.board-row {
    padding: 10px 0;
    border-top: 1px dashed #CDCDCD;
}
.board-row.is-first {
    border-top: none;
}
.board-icon {
    margin-right: 5px;
}